*{
    scroll-behavior: smooth;
}
#brandsTop{
    width:100%;
    margin: auto;
    display: flex;
    text-align: center;
    justify-content: center;
    gap: 2%;
}
.clickscroll{
    /* background-color: #12284c; */
    text-shadow: red;
}

.Alfabets{
   font-family: "helvetica neue", helvetica, arial, sans-serif;
   font-size: 18px;
   cursor: pointer;
}

#brandsData{
    border-top: 1px solid #bbc1cc;
    padding-left: 20%;
    padding-right: 20%;
    /* color: rgb(75, 134, 243); */
}

#brandsData h1{
      color: #797840;
      padding-top: 40px;
      border-bottom: 1px solid #bbc1cc;
}
/* .alfaBet{
    
} */
.cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    margin: auto;
    align-items: center;
    line-height: 5px;
    gap:12px;
    font-size: 14px;
    font-family: "helvetica neue", helvetica, arial, sans-serif;;
}

@media all and (min-width:860px) and (max-width:1280px){
    .cards{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media all and (min-width:450px) and (max-width:859px){
    .cards{
        grid-template-columns: repeat(1, 1fr);
    }
}


.alfaBet p{
    font-size: 35px;
    color: #12284c;
}