*{
    text-decoration: none;
    
}

#newContainer{
    display: flex;
    margin: auto;
    width: 95%;
    color:black;
    gap: 5%;
}

#newLeft{
    width: 18%;
    cursor: pointer;
    align-items: center;
    text-align: center;
    margin-top: 5%;
    
    
}
.newL1{
    background-color: white;
    padding-left: 10%;
    padding-top: 20%;
    padding-bottom: 20%;
    padding-right: 15%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    border-radius: 20px;
}
#newLeft button{
    background-color: aquamarine;
    color: red;
    padding: 6%;
    margin-top: 8%;
    border-radius: 20px;
    border: none;
}

#newLeft button:hover{
    background-color: rgb(187, 133, 133);
    color: white;
}

#newCards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    text-align: center;
    width: 100%;
    row-gap: 20px;
} 

    /* .eachCard:hover{
        cursor: pointer;
        position: absolute;
        bottom: 0px;
        left: 0px;
        width: 100%;
        opacity: 0;
        transition: opacity 0.3s ease 0s;
        text-align: center;
        color: rgb(255, 255, 255);
        line-height: 1;
        font-weight: 700;
        padding-top: 8px;
        padding-bottom: 8px;
        font-size: 12px;
        border-radius: 4px;
        background-color: rgba(0, 0, 0, 0.7);
    } */


@media all and (min-width:661px) and (max-width:1080px){
    #newCards{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media all and (min-width:360px) and (max-width:660px){
    #newCards{
        grid-template-columns: repeat(1, 1fr);
    }
}

#newRight{
    width:82%;
    align-items: center;
    text-align: center;
}

.eachCard{
    width: 90%;
    background-color: white;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    padding: 3%;
    border-radius: 15px;
    line-height: 15px;

}

.eachCard div{
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    padding: 5%;
    
}
.eachCard:hover{
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.newLove i{
    color: rgb(219, 25, 200);
}

#viewSymb{
    color: rgb(175, 116, 116);
}



.newCart{
    background-color: black;
    border: 1px solid rgb(82, 112, 125);
    color: white;
    padding: 4%;
    border-radius: 20px;
}

#newSelect option{
    text-align: center;
}

#newSelect{
    border-radius: 20px;
    padding: 4%;
    width:75%;
    background-color: aquamarine;
    color: red;
}
#newSelect:hover{
    background-color: rgb(187, 133, 133);
    color: white;
}