*{
    text-decoration: none;
    
}

#newContainer{
    display: flex;
    margin: auto;
    width: 95%;
    color:black;
    gap: 5%;
}

#newLeft{
    cursor: pointer;
}

#newCards{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    align-items: center;
    text-align: center;
    width: 100%;
    row-gap: 20px;
}

#newRight{
    align-items: center;
    text-align: center;
}

.eachCard{
    width: 90%;
    background-color: white;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    padding: 3%;
    border-radius: 15px;
    line-height: 15px;
}

.eachCard div{
    display: flex;
    cursor: pointer;
    justify-content: space-between;
    padding: 5%;
}

.newLove i{
    color: rgb(219, 25, 200);
}

.newCart{
    background-color: black;
    border: 1px solid rgb(82, 112, 125);
    color: white;
    padding: 4%;
    border-radius: 20px;
}